@model IEnumerable<budget.Models.Transactions>

@{

  ViewData["Title"] = "Home";

}

<h2>Home</h2>

<table class="table">

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Amount)
      </td>
    </tr>
  }
</table>

